<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/result.css">
    <title>Result of Prediction</title>
</head>

<body>
    <div class="circle"></div>
    <div class="content">
        <div class="textBox">
            <h1 id="mesg">"When you look at people who are successful, you will find that they aren't the people who are
                motivated,
                but
                have consistency in their motivation."</h1><br>
            <h2>You have chance of getting into University</h2><br>
            <h2><b>Predicted probability : </b> {{ peredictions }} %</h2><br>
            <h2>Well Done!!<i class="fa-solid fa-thumbs-up"></i></h2>
            <a href="https://drive.google.com/file/d/1mEjeksoLa5nmgXa2JE0RZGkHPem4CxDK/view?usp=sharing">Previous Year
                Eligibility (GRE)</a>
            <a href="https://drive.google.com/file/d/169ir96pdrzmH7Fw3TbDW3Zm8i6vgJLos/view?usp=sharing">Previous Year
                Eligibility (TOEFL)</a>
        </div>
        <div class="imgBox">
            <img src="static/img/success.svg" alt="eligible">
        </div>
    </div>


</body>

</html>